.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    p.stats
      | 挑战进度：
      strong
        span.green-text=completedChallengeCount
      | &nbsp;/&nbsp;
      strong
        span.green-text=challengeCount
    p.stats
      | 项目进度：
      strong
        span.green-text=completedProjectCount
      |  /&nbsp;
      strong
        span.green-text 30
    if !!completedLegacyCertCount
      p.stats
        | 旧版证书进度：
        strong
          span.green-text=completedLegacyCertCount
        | /&nbsp;
        strong
          span.green-text 3
    p.stats
      | 证书进度：
      strong
        span.green-text=completedCertCount
      |  /&nbsp;
      strong
        span.green-text 6